/* Basic styling */

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background-color: #139ed4;
    color: white;
    padding: 1em;
}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 10px;
}

main {
    padding: 20px;
}

footer {
    background-color: #139ed4;
    color: rgb(126, 27, 27);
    text-align: center;
    padding: 1em;
}


/* Specific page styles */

.hero {
    text-align: center;
    padding: 50px 0;
    background-image: url('hero-bg.jpg');
    background-size: cover;
    color: rgb(126, 27, 27);
}

.login-form,
.contact-form {
    width: 50%;
    margin: auto;
}


/* Login form styles */

.login-form {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.login-form h2 {
    text-align: center;
    margin-bottom: 20px;
}

.input-group {
    margin-bottom: 15px;
}

.input-group label {
    display: block;
    margin-bottom: 5px;
}

.input-group input[type="text"],
.input-group input[type="password"] {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

button {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #333;
    color: white;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
}

button:hover {
    background-color: #555;
}